* {
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 18px;
}

#entry {
    padding: 6px;
}

#entry:selected {
    background-color: transparent;
    border: 1px solid #ffffff
}

#input {
    background-color: transparent;
    padding: 10px;
}

#input:focus {
    border: 1px solid #ffffff;
    box-shadow: none;
    outline: none;
}

window {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #ffffff;
}
